/* To style the page upon loading*/
.start-box {
    border: 1px black solid;
    margin: auto;
    padding: 10px;
    max-width: 500px;
    color: blueviolet;
    display:flex;
    flex-direction:column;
    justify-content: center;
}
/*To style the questions once called upon via Javascript*/
.text-box {
    border: 1px black solid;
    margin: auto;
    padding: 10px;
    max-width: 500px;
    color: blueviolet;
    display: none 
}
/*To style all the button for answers throughout the quiz*/
button {
    width: 110px;
    background-color: red;
}

header {
    display: flex;  
    justify-content: space-between;
}
/*To center the questions upon loading*/
#questionSet {
    border: 1px black solid;
    margin: auto;
    padding: 10px;
    max-width: 500px;
    color: blueviolet;
    display:flex;
    flex-direction:column;
    justify-content: center;
}
/*To to align the button in a column upon loading*/
.question-box > button {
    margin: 3px;
    padding: 8px;
    max-width: 500px;
    display:flex;
    flex-direction:column;
    justify-content: center;
}