
.start-box {
    border: 1px black solid;
    margin: auto;
    padding: 10px;
    max-width: 500px;
    color: blueviolet;
    display:flex;
    flex-direction:column;
    justify-content: center;
    
    
}

.text-box {
    border: 1px black solid;
    margin: auto;
    padding: 10px;
    max-width: 500px;
    color: blueviolet;
    display: none 
}

button {
    width: 110px;
    background-color: red;
}

header {
    display: flex;  
    justify-content: space-between;
}
